* {
  margin: 0;
  padding: 0;
}

.contact-content {
  padding-top: 50px;
  padding-left: 150px;
  width: 1161px;
  height: 613px;
}
.contact-head {
  font-weight: 800;
  font-size: 48px;
  font-family: "Poppins";
}
.contact-body {
  padding-top: 10px;
  width: 975px;
  height: 72px;
}

.form-content {
  width: 1161px;
  height: 600px;
  display: flex;
  flex-direction: row;
}
.left-body {
  width: 487.5px;
  height: 500px;
}
.right-body {
  width: 487.5px;
  height: 500px;
}
.btn1 {
  margin-right: 22px;
  width: 220px;
  height: 44px;
  justify-content: space-between;
  border: none;
  background-color: red;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
}
.chat-img {
  padding-right: 5px;
  width: 24px;
  height: 24px;
}

.call-img {
  padding-right: 5px;
  width: 24px;
  height: 24px;
}
.email-button {
  margin-top: 15px;
  width: 462px;
  height: 44px;
  background-color: white;
  font-weight: 600;
}
.email-img {
  padding-right: 5px;
  width: 24px;
  height: 24px;
}

.input-box {
  width: 440px;
  height: 40px;
  margin-top: 10px;
  margin-left: 5px;
  padding-left: 10px;
}
.input-text {
  height: 129px;
  padding-top: 10px;
  resize: none;
}
.submit-btn {
  background-color: black;
  color: white;
  margin-top: 10px;
  margin-left: 235px;
}
